@import "variables";

#page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  background-color: #000;
  background-color: rgba(0, 0, 0,1);
  color: #fff;
  width:100%;
  height: 40px;
  .greeting {
    text-transform: uppercase;
    margin-top: 10px;
  }
  .state-docs & {
    height: 80px;
  }

  .row {
    height: 40px;
  }

  .tablet {
    .logo {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .desktop {
    .list-inline {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #header-menu-btn {
    width: 40px;
    height: 40px;
    padding: 2px 0 0 5px;
  }

  #header-nav {

    .icon-shareClose {
      display: none;
    }
    &.open {
      .dropdown-toggle:hover, .dropdown-toggle:active {
        .icon-shareClose {
          display: block;
        }
        .icon-profile {
          display: none;
        }
      }
    }
    .dropdown-toggle {
      font-size: 2em;
      border: 0;
      span {
        margin-left: -5px;
      }
      &:hover, &:active {
        color: #000;
        background-color: $brand-primary;
      }
    }
    .dropdown-menu {
      border: 0;
      margin-top: 0;
      background-color: #272727;
      width: 500px;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      .btn-link, a {
        color: #999;
        text-transform: uppercase;
        &:hover, &:active, &.current {
          background-color: transparent;
          color: #fff;
        }
      }
      li {
        font-size: 1.25em;
        height: 40px;
        background: #333 url(../images/stripes.png) 0 0 repeat;
        border-top: 1px solid #666;
        padding-top: 5px;
        &:first-child {
          color: #fff;
          background-image: none;
          border-top: 0;
          .btn-link, a {
            color: $brand-primary;
            &:hover, &:active, &.current {
              color: #999;
            }
          }
        }
      }
    }
  }

  .header-doc-menu {
    margin-top: 8px;
    .dropdown-menu {
      overflow-y: auto;
      max-height: 500px;
      button {
        white-space: normal;
        text-align: left;
      }
      ul {
        margin: 0;
      }
      &.toplevel {
        .btn-link, .list-item {
          font-size: 1.5em;
        }
        ul {
          margin-left: 15px;
          .btn-link, .list-item {
            font-size: 1em;
          }
        }
      }
      .btn-link, .list-item {
        color: #333;
        outline: 0;
        letter-spacing: -0.02em;
        line-height: 1.2em;
        &:active, &:hover, &:visited, &.current {
          text-decoration: none;
          background-color: #fff;
          color: #999;
        }
      }
    }
  }

  a, .btn-link {
    &:hover, &.current {
      text-decoration: none;
      color: #fff;
    }
  }

  input {
    background-color: #666;
    color: #aaa;
    border-color: #666;
    font-weight: 300;
    &::-webkit-input-placeholder {
       color: #aaa;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #aaa;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: #aaa;  
    }

    &:-ms-input-placeholder {  
       color: #aaa;  
    }
  }

  .logo-md {
    position: relative;
    background-color: #000;
    height: 80px;
    padding-top: 15px;
    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-left-color: #000;
      border-width: 40px;
      margin-top: -40px;
      z-index: 999;
    }
  }

  .header-container {
    max-width: 100%;
    width: 100%;
    .row {
      width: 100%;
    }
  }

  .logo {
    max-width: 250px;
    margin: 10px 0 10px 0;
  }

  nav.columns {
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin-right: 25px;
      }
    }
  }

  a {
    color: $brand-primary;
    letter-spacing: 0.075em;
    font-size: 0.875em;
    &:hover {
      color: #fff;
    }
  }

  .sub-nav {
    margin-left: 0;
    background: #333 url(../images/stripes.png) 0 0 repeat;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    ul {
      li {
        margin-left: 15px;
        margin-right: 15px;
        &:last-child {
          color: #999;
        }
        a {
          color: #aaa;
          &:hover, &.current {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

// Mobile
@media (max-width: 768px) {
  #page-header {
    #header-nav {
      .dropdown-menu {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
    .header-doc-menu {
      .dropdown-menu {
        overflow-y: auto;
        max-height: 400px;
      }
    }
  }
}