.document-menu {
  z-index: 800;
  background-color: #EFEFEF;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  button {
    white-space: normal;
    text-align: left;
  }
  ul {
    margin: 0;
  }
  .toplevel {
    .btn-link, .list-item {
      font-size: 1.5em;
    }
    ul {
      margin-left: 15px;
      .btn-link, .list-item {
        font-size: 1em;
      }
    }
  }
  .btn-link, .list-item {
    color: #333;
    outline: 0;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    &:active, &:hover, &:visited, &.current {
      text-decoration: none;
      background-color: #fff;
      color: #999;
    }
  }
}