.document-menu {
  z-index: 800;
  background-color: #EFEFEF;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  a, button {
    white-space: normal;
    text-align: left;
    border: 0;
    box-shadow: none;
    text-decoration: none;
  }
  ul {
    margin: 0;
  }
  .toplevel {
    .btn-link, .list-item {
      font-size: 1.4em;
    }
    ul {
      margin-left: 15px;
      a, .btn-link, .list-item {
        font-size: 1.1em;
        margin-top:5px;
        margin-bottom: 5px;
      }
    }
  }
  a, .btn-link, .list-item {
    color: #333;
    outline: 0;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    box-shadow: none;

    &:active, &:hover, &:visited, &.active {
      text-decoration: none;
      background-color: #fff;
      color: #999;
    }
  }
}