@import "variables";

#sphere-footer {
  position: absolute;
  bottom: 0;
  background-color: #333;
  padding: 5px 25px;
  width: 100%;
  .row > div {
    padding-left: 50px;
    padding-right: 50px;
  }
  .col-md-4.col-xs-12 {
    padding-left: 0;
    padding-right:0;
  }
  #outbrain-powered {
    position:relative;
    top: -3px;
  }
  .social-wrapper {
    margin-top: 5px;
  }
  .copy {
    position: relative;
    color: #aaa;
    font-size: 10px;
    margin-top: 0;
    white-space: nowrap;
    span {
      margin-right: 10px;
    }
  }
  ul {
    margin-bottom: 0;
  }
  li {
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
  }
  a, .btn-link {
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .btn.btn-link {
    text-align: left;
    &.default {
      color: #efefef;
      &:hover {
        color: $brand-primary;
      }
    }
    &:hover {
      color: #efefef;
      text-decoration: none;
    }
  }

  .links {
    a {
      color: #efefef;
      &:hover, &:active {
        text-decoration: none;
        color: $brand-primary;
      }
    }
  }

  a.social_btn {
    display: inline-block;
    background: #000;
    border-radius: 50em;
    width: 25px;
    height: 25px;
    margin-top: 0;
    position: relative;
    font-size: 16px;
    color: $brand-primary;
    &:first-child {
      margin-right: 15px;
    }

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -7px 0 0 -8px;
    }

    &.icon-twitter {
      &::before {
        margin-left: -7px;
        margin-top: -8px;
      }      
    }

    &.icon-facebook {
      &::before {
        margin-top: -9px;
        margin-left: -11px;
      }
    }

    &:hover {
      background-color: #444;
      color: #fff;
    }
  }
}


@media (min-width: $screen-md-min) {
  #sphere-footer {
    .copy {
      margin-bottom: 0;
      float: right;
    }
  }
}

@media (max-width: $screen-md-min) {
  #sphere-footer {
    text-align: center;
  }
}