#loading-pip {
  color: #fff;
  position: fixed;
  width: 140px;
  height: 140px;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 20px;
  z-index: 999;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}