@import "bootstrap";
//@import "compass/css3";
//@import "../bower_components/sphere-variables/variables";
//@import "../bower_components/sphere-variables/colors";
//@import "../bower_components/normalize/normalize";
@import "../bower_components/sphere-validation/validation";
//@import "../bower_components/sphere-footer/footer";
@import "landing";
@import "document_menu";
@import "devHeader";
@import "footer";
@import "logo_animation";
@import "popups";
@import "forms";
@import "signup_form";
@import "new_request_form";
@import "apiDocs";
@import "loading";


html {
  position: relative;
  min-height: 100%;
}

body {
  background: #000 url('/images/page-bg.png') 0 0 repeat;
  margin-bottom: 100px;
}

a, button, input, textarea {
  outline: none;
}

a:focus {
  color: $brand-primary;
  text-decoration: none;
}

button, .btn.btn-primary {
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) background-color;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) background-color;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) background-color;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) background-color;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) background-color;
  &:hover, &:focus {
    background-color: rgb(6, 161, 216);
    border-color: rgb(6,161,216);
  }
}

#main-content {
  margin-top: 80px;
}
.state-home {
  #main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  #main-content {
    margin-top: 40px;
    .state-docs & {
      margin-top: 80px;
    }
  }
}

.main {
  background-color: #000;
  color: #fff;
}

.color-inverse {
  background-color: #000;
  color: #fff;
  background: #000 url('/images/page-bg.png') 0 0 repeat;
}

.push-down {
  margin-top: $line-height-computed;
}

#developers {
  position: relative;
  height: 100%;
}

.list-unstyled .divider {
  color: #999;
  margin: 0;
  padding: 0;
}

.btn:focus, a:focus {
  outline: none !important;
  text-decoration: none !important;
}

.list-colored {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em;
    text-indent: -0.7em;
    font-weight: 300;
    font-size: 18px;
    &:before {
      content: "• ";
      color: #4EA2D0;
      font-size: 30px;
      line-height: 10px;
    }
  }
}

.btn-round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/*html {
  box-sizing: border-box;
  font-family: 'Fira Sans';
}
html, body {
  height: 100%;
}
#developers {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -305px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

.clearfix {
  display: block;

  &::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  & > * {
    float: left;
  }
}

body {
  background: #000 url('/images/page-bg.png') 0 0 repeat;
}

input, button, textarea {
  outline: none;
  border-radius: 0;
}

.section.collapsed {
  margin-bottom: 85px;
}

.button {
  background: #333;
  padding: 10px 20px 7px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border: none;
  font-family: $sphere-font;
  text-transform: uppercase;
  letter-spacing: 0.012em;
  @include transition(background 0.3s ease);
  &._bg {
    background-color: $sphere-color;
  }

  &:hover {
    background: $sphere-color;
    color: #fff;
  }

  &:disabled {
    background: #cccccc;
    color: #eeeeee;
  }

  &.green {
    background: $sphere-color;
    color: #fff;

    &:hover {
      background: #333;
    }
  }

  &.gray {
    background: #efefef;
    color: #999999;

    &:hover {
      background: #e0e0e0;
    }
  }
}

// Utilities
.hidden-sm {
  display: none;
}
@media (min-width: 550px) {
  .hidden-sm {
    display:inherit;
  }
}*/