<div class="list-group" du-spy-context>
  <ul class="list-unstyled toplevel">
    <li ng-repeat="item in docMenu">
      <button class="btn btn-link btn-block" ng-href="#{{item.link}}" du-smooth-scroll du-scrollspy="{{item.link}}">{{item.text}}</button>
      <!--<button class="btn btn-link btn-block" sp-menu-item="item" ng-click="goTo(item.link)">{{item.text}}</button>-->
      <ul class="list-unstyled">
        <li ng-repeat="subitem in item.subgroup">
          <button class="btn btn-link btn-block" ng-href="#{{subitem.link}}" du-smooth-scroll du-scrollspy>{{subitem.text}}</button>
          <!--<button class="btn btn-link btn-block" sp-menu-item="subitem" ng-click="goTo(subitem.link)">{{subitem.text}}</button>-->
        </li>
      </ul>
    </li>
  </ul>
</div>