<section id="page-header" class="section">
  <div class="container-fluid visible-xs visible-sm tablet"><!--Mobile and Tablet Header-->
    <div class="row" style="background-color: #292929;">
      <a class="col-xs-10" ui-sref="home"><img class="logo" src="/images/sphere-dev-logo.png"></a>
      <div class="col-xs-2" style="right: -25px;">
        <div id="header-nav" class="btn-group pull-right" dropdown is-open="ham.isopen">
          <button type="button" id="header-menu-btn" class="btn btn-primary btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            <span class="icon-profile"></span>
            <span class="icon-shareClose"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="greeting" ng-if="isAuthenticated">HI, {{userInfo.name}} <button class="btn btn-link" logout>[ sign out ]</button></li>
            <li ng-if="!isAuthenticated"><button class="btn btn-link primary-link" register-opener>Register</button> | <button class="btn btn-link primary-link" login-opener>Sign In</button></li>
            <!--<li><a href="https://www.sphere.com/support">Support</a></li>-->
            <li><a ui-sref="docs" ng-class="{current: state.current === 'docs'}">Docs</a></li>
            <li><a href="https://www.sphere.com">Products</a></li>
            <li ng-if="isAuthenticated"><a href="https://www.sphere.com/#/profile">My Info</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" ng-show="state.current === 'docs'" style="background-color: #EFEFEF; height: 50px;">
      <div class="btn-group col-xs-12 col-sm-6 header-doc-menu" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          Documents <span class="caret"></span>
        </button>
        <sp-header-doc-menu sp-head-doc="docMenu"></sp-header-doc-menu>
      </div>
    </div>
  </div>
  <div class="container-fluid hidden-xs hidden-sm desktop"><!--Desktop header-->
    <div class="row" style="background-color: #292929; height:80px;">
      <div class="col-md-3 logo-md">
        <a ui-sref="home"><img class="logo" src="/images/sphere-dev-logo.png"></a>
      </div>
      <div class="col-md-9" style="height: 80px; padding-left: 0;">
        <div class="row" style="height: 40px;">
          <nav class="col-md-offset-7 col-md-5">
            <ul class="list-inline pull-right" ng-if="isAuthenticated">
              <li class="greeting">Hi, {{userInfo.name}}</li>
              <li><button class="btn btn-link" logout>[ sign out ]</button></li>
            </ul>
            <ul class="list-inline pull-right" ng-if="!isAuthenticated">
              <li><button class="btn btn-link" login-opener>SIGN IN</button></li>
              <li class="divider">|</li>
              <li><button class="btn btn-link" register-opener>REGISTER</button></li>
            </ul>
          </nav>
        </div>
        <div class="row sub-nav hidden-xs hidden-sm" style="height: 40px;">
          <div class="col-md-offset-5 col-md-7">
            <ul class="list-inline list-unstyled pull-right" style="margin: 10px 0;">
              <!--<li><a href="https://www.sphere.com/support">Support</li>-->
              <li><a ui-sref="docs" ng-class="{current: state.current === 'docs'}">Docs</a></li>
              <li><a href="https://www.sphere.com">Products</a></li>
              <li ng-if="isAuthenticated"><a href="https://www.sphere.com/#/profile">My Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>