<div class="row" style="color: #333;">
	<div class="hidden-xs hidden-sm col-md-3 document-menu">
		<sp-doc-menu sp-doc="docMenu"></sp-doc-menu>
	</div>
	<div class="col-xs-12 col-md-offset-3 col-md-9 readme" style="background-color: #fff; padding-bottom: 25px; word-wrap: break-word;">
		<markdown ng-model="docs"></markdown>
     <div sp-scroll-spy="test"></div>
	</div>
	<div class="col-xs-12 col-md-offset-3 col-md-9 color-inverse" style="border-left: 5px solid #00cc99;">
		 <div swagger-ui url="url" try-it="true" error-handler="myErrorHandler" transform-try-it="myTransform"></div>
	</div>
</div>