<div id="landing-hero" class="row">
  <h1>Sphere</h1>
  <h5>Enabling personalized content experiences,<br>anywhere and everywhere</h5>
  <button class="btn btn-primary">REQUEST ACCESS</button>
</div>
<div class="row">
  <div class="col-xs-12 col-md-5">
    <h3>Possible Description of Docs Lorem Ipsum Dolor Sit Unum</h3>
    <ul class="row list-colored">
      <li class="col-xs-12 col-sm-6 col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li class="col-xs-12 col-sm-6 col-md-12">Sed sodales lectus id ipsum aliquet, ut accumsan nunc malesuada.</li>
      <li class="col-xs-12 col-sm-6 col-md-12">Fusce lobortis ipsum gravida, vulputate odio eu, eleifend sem.</li>
      <li class="col-xs-12 col-sm-6 col-md-12">Nullam at metus at velit dapibus dapibus eu eu odio.</li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-7">
    <img src="#" style="width:100%;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>The Building Blocks</h1>
    <ul class="row" style="white-space: normal">
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Personalized Content Recommendations</h3>
        <p>Lorem ipsum</p>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Save for Later</h3>
        <p>Lorem ipsum</p>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Analytics &amp; Performance Reports</h3>
        <p>Lorem ipsum</p>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Interest Graph</h3>
        <p>Lorem ipsum</p>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Recommended Categories, Topics, &amp; Sites</h3>
        <p>Lorem ipsum</p>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4">
        <h3>Other Interactive Components</h3>
        <p>Lorem ipsum</p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Request Access</h1>
    <p>To apply for the Sphere API, <a href="#">click here</a></p>
  </div>
  <div class="col-xs-12">
    <h1>Form goes here</h1>
  </div>
</div>