<div id="new-landing">
  <div id="landing-hero" class="row">
    <img class="heading" src="images/sphere-logo.png" alt="Sphere">
    <h2 class="subheading">Enabling personalized content experiences,<br>anywhere and everywhere</h2>
    <button class="btn btn-primary btn-lg hidden-sm hidden-xs" du-smooth-scroll href="#building-blocks">REQUEST ACCESS</button>
    <button class="btn btn-primary btn-lg visible-sm visible-xs" du-smooth-scroll href="#access-form">REQUEST ACCESS</button>
  </div>
  <div id="api-descript" class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <h3 class="heading">Possible Description of Docs Lorem Ipsum Dolor Sit Unum</h3>
        <ul class="row list-colored">
          <li class="col-xs-12 col-sm-6 col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li class="col-xs-12 col-sm-6 col-md-12">Sed sodales lectus id ipsum aliquet, ut accumsan nunc malesuada.</li>
          <li class="col-xs-12 col-sm-6 col-md-12">Fusce lobortis ipsum gravida, vulputate odio eu, eleifend sem.</li>
          <li class="col-xs-12 col-sm-6 col-md-12">Nullam at metus at velit dapibus dapibus eu eu odio.</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-7">
        <img src="#" style="width:100%;" title="Image placeholder">
      </div>
    </div>
  </div>
  <div id="building-blocks" class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="heading">The Building Blocks</h1>
          <ul class="row">
            <li class="col-xs-12 col-sm-6 col-md-4 lines">
              <span></span>
              <h3>Personalized Content Recommendations</h3>
              <h4>Aenean sit amet sapien eget massa mollis sollicitudin quis ut odio.</h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 stash">
              <span></span>
              <h3>Save for Later</h3>
              <h4>Phasellus et dolor sit amet dolor convallis ultricies.</h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 analytics">
              <span></span>
              <h3>Analytics &amp; Performance Reports</h3>
              <h4>Vestibulum ornare libero eget hendrerit ultricies.</h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 circle">
              <span></span>
              <h3>Interest Graph</h3>
              <h4>Donec vitae orci viverra orci laoreet convallis sed eget dolor.</h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 finger">
              <span></span>
              <h3>Recommended Categories, Topics, &amp; Sites</h3>
              <h4>Proin non arcu non felis tincidunt suscipit a et neque.</h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 folder">
              <span></span>
              <h3>Other Interactive Components</h3>
              <h4>Curabitur vel purus congue, molestie mi at, placerat velit.</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="access-form" class="row" ng-init="linkHovered = false;">
    <div id="key-row" class="col-xs-12">
      <button class="btn btn-primary btn-round" ng-class="{hover: linkHovered}" ng-mouseover="linkHovered = true" ng-mouseout="linkHovered = false" ng-click="formOpen = !formOpen" du-smoothscroll href="#form-wrapper"><span class="key" ng-class="{hide: formOpen}"></span><span class="arrow" ng-class="{hide: !formOpen}"></span></button>
    </div>
    <div class="col-xs-12">
      <h3 class="heading">Request Access</h3>
      <h3 class="subheading" ng-hide="formOpen">To apply for the Sphere API, <button class="btn btn-link" ng-class="{hover: linkHovered}" ng-mouseover="linkHovered = true" ng-mouseout="linkHovered = false" ng-click="formOpen = !formOpen" du-smoothscroll href="#form-wrapper">click here.</button></h3>
      <div id="new-request" ng-class="{'open': formOpen}" ng-submit="submitRequest()">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3>All fields are required.</h3>
            </div>
          </div>
          <form class="form-horizontal" name="request" name="request" sp-form="request" novalidate>
            <div class="form-group">
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" name="name" ng-model="name" placeholder="First Name" tabindex="1" autofocus required>
              </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" name="surname" ng-model="surname" placeholder="Last Name" tabindex="2" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email" tabindex="3" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" name="company" ng-model="company" placeholder="Company" tabindex="4" required>
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" name="title" ng-model="title" placeholder="Title" tabindex="5" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" name="username" ng-model="username" placeholder="Sphere Username" tabindex="6" required>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h4 class="pull-left hidden-xs register"><span class="icon-rightArrow"></span>Don't have one? Register <button class="btn btn-link" register-opener>here</button></h4>
                <h4 class="pull-right visible-xs register small"><span class="icon-rightArrow"></span>Don't have one? Register <button class="btn btn-link" register-opener>here</button></h4>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <textarea class="form-control" name="comments" ng-model="comments" tabindex="6" required>How do you plan on using the API?</textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-lg" tabindex="7">SUBMIT</button>
              </div>
            </div>
            <div class="thank-you" ng-class="{'visible': showThanks}">
              <div class="text">
                <h2 ng-bind-html="thanksMsg"></h2>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>