  <form class="container form-container" name="requestApi" sp-form="requestApi" form-class="sp-register-form" novalidate ng-init="showMsg = ''" contact>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" class="col-xs-12" placeholder="First Name" name="name" ng-model="name" ng-disabled="!formOpen" tabindex="1" autofocus required>
      </div>
      <div class="col-xs-6">
        <input type="text" class="col-xs-12" placeholder="Last Name" name="surname" ng-model="surname" ng-disabled="!formOpen" tabindex="2" required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="email" class="col-xs-12" placeholder="Email" name="email" ng-model="email" ng-disabled="!formOpen" tabindex="3" required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" class="col-xs-12" placeholder="Company" name="company" ng-model="company" ng-disabled="!formOpen" tabindex="4" required>
      </div>
      <div class="col-xs-6">
        <input type="text" class="col-xs-12" placeholder="Title" name="title" ng-model="title" ng-disabled="!formOpen" tabindex="5" required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" class="col-xs-12" placeholder="Sphere Username" name="username" ng-model="username" ng-disabled="!formOpen" tabindex="6" required>
      </div>
      <div class="col-xs-6">
        <h5 class="u-full-width register-prompt"><span class="icon-rightArrow"></span> Don't have one? Register <a register-opener href="#" class="{{userInfo.pallet}}_text">here</a></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <textarea class="col-xs-12" name="comments" ng-model="comments" ng-disabled="!formOpen" placeholder="How do you plan on using the API?" tabindex="7" required></textarea>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <button class="submit" type="submit" tabindex="8">Submit</button>
    </div>
  </form>