<div id="logo-wrapper" class="container" style="getStyles()" ng-class="{'collapsed': !formOpen}">
  <div id="logo-background" class="animate row">
    <div id="logo" class="logo-bg-images fade" ng-class="{lightOn: lightSwitches.subtitle}">
      <img id="title" src="/images/sphere-logo.png" alt="Sphere" class="slideDown" ng-class="{lightOn: lightSwitches.title}">
      <h2 id="subtitle"><span class="partOne">enabling personalized content experiences,</span><span class="fade subtitleTwo" ng-class="{lightOn: lightSwitches.subtitleTwo}"> anywhere and everywhere</span></h2>
      <button class="btn-toggle-form fade" ng-class="{lightOn: lightSwitches.button}" sp-form-toggle="formOpen" ng-mouseover="getHover = true" ng-mouseout="getHover = false">
      Get our api <span ng-class="{'icon-upArrow': formOpen, 'icon-downArrow': !formOpen}"></span>
      </button>
      <a href="http://www.sphere.com/#/discover" class="preview-link fade" style="clear:both;display:block;font-size: 16px; color: #aaa; letter-spacing: 0.025em;" ng-class="{lightOn: lightSwitches.button}" ng-hide="formOpen">preview beta <span class="icon-rightArrow"></span></a>
    </div>
    <div id="bg-veins" class="logo-bg-images fade" ng-class="{lightOn: lightSwitches.bgVeins}"></div>
    <div id="bg-glow" class="logo-bg-images fade" ng-class="{lightOn: !lightSwitches.glow}"></div>
    <div id="border-circle" class="logo-bg-images fade rotate" ng-class="{rotated: getHover || formOpen, lightOn: lightSwitches.outerCircle }"></div>
    <div id="node" class="logo-bg-images fade" ng-class="{lightOn: lightSwitches.node}"></div>
    <div ng-repeat="vein in veinList" class="logo-bg-images fade veins vein{{$index}}" ng-class="{lightOn: vein.isOn || lightSwitches.veins}"></div>
  </div>
</div>