<div class="inner" forgot>
  <h1>Forgot <br />Password</h1>

  <p>
    Enter your email address and <br />
    we'll send you instructions on how <br />
    to reset your password.
  </p>

  <form name="forgot" sp-form="forgot" novalidate ng-init="showMsg = ''">
    <div class="form">
      <div class="form_row">
        <input type="email" name="email" ng-model="email" placeholder="email address" ng-focus="showMsg = 'email'" required>
        <ng-include src="'bower_components/sphere-validation/email_msgs.html'" ng-show="forgot.email.$dirty && forgot.email.$invalid && showMsg === 'email'"></ng-include>
      </div>
      <div class="buttons_wrapper">
        <button class="button {{userInfo.pallet}}_bg_hover">Send Email</button>
      </div>
      <div class="loading_wrapper" loader="userInfo.pallet"></div>
    </div>
  </form>

  <span class="close_popup closeLB icon-shareClose {{userInfo.pallet}}_text_hover"></span>
</div>