<div class="inner" reset-password>
  <h1>Reset <br />Password</h1>

  <p>
    Choose a new password.
  </p>

  <form class="form" name="reset" sp-form="reset" ng-init="showMsg = ''" novalidate>
    <div>
      <div class="form_row">
        <input type="password" name="password" ng-model="password" placeholder="new password" required sp-pwd-validate ng-pattern="regPatterns.text" ng-focus="showMsg = 'password'"/>
        <ng-include src="'bower_components/sphere-validation/pwd_msgs.html'" ng-show="showMsg === 'password'"></ng-include>
      </div>
      <div class="form_row">
        <input type="password" name="confirm" ng-model="passwordConfirm" placeholder="retype password" required sp-pwd-confirm="password" ng-pattern="regPatterns.text" ng-focus="showMsg = 'confirm'">
        <ng-include src="'bower_components/sphere-validation/confirm_msgs.html'" ng-show="showMsg === 'confirm'"></ng-include>
      </div>
      <div class="buttons_wrapper">
        <button class="button {{userInfo.pallet}}_bg_hover">Reset Password</button>
      </div>
      <div class="loading_wrapper" loader="userInfo.pallet"></div>
    </div>
  </form>

  <span class="close_popup closeLB icon-shareClose {{userInfo.pallet}}_text_hover"></span>
</div>